<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta content="width=device-width; initial-scale=1.0" />
  <link rel="icon" href="images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" media="screen" />
  <title>Radiant Player for Google Play Music - Beautifully integrate Google Play Music with your Mac</title>
</head>
