/*
 * css/dark.css
 *
 * Custom stylesheet that emulates the appearance of a dark Mac OS X application, like Spotify.
 *
 * Created by Sajid Anwar.
 *
 * Subject to terms and conditions in LICENSE.md.
 *
 */

#main {
    background-color: #373737;
    color: #bbb;
}

#loading-progress {
    background: #C4C4C4;
    background: linear-gradient(0deg, #A0A0A0, #C4C4C4);
}

#loading-progress-content {
    top: 40%;
}

#loading-progress-message {
    color: #444;
    text-align: center;
}

#loading-progress-bar {
    height: 3px;
}

#current-loading-progress {
    height: 3px;
}

a, .simple-dialog a {
    color: #999;
}

.g-content {
    margin: 0;
}

.g-doc {
    height: calc(100% - 60px) !important;
}

#headerBar .tab-text {
    color: #bbb;
}

.card {
    background-color: #555;
}

.card .title {
    color: #ddd;
}

.card .sub-title {
    color: #999;
}

.cluster .header .title, .settings-cluster .header .title, .section-header {
    color: #bbb;
}

.song-table {
    padding: 0;
}

.song-table .header-row th {
    background: linear-gradient(0deg, #666, #a8a8a8);
    border-bottom: 1px solid #000;
    height: 26px;
    text-transform: none;
    border-right: 1px solid #464646;
    border-left: 0px solid #555;
}

.song-row:nth-child(odd) td {
    background-color: #373737 !important;
}

.song-row img {
    height: 26px !important;
    width: 26px !important;
    visibility: hidden;
}

.song-row .song-indicator {
    width: 32px !important;
    height: 26px !important;

    -webkit-filter: brightness(0%) invert(100%);
    background-color: transparent;
}

.song-row .song-indicator[data-playback-status="loading"] {
    background-position: -4px -7px;
}

.song-row .song-indicator[data-playback-status="paused"] {
    background-position: -404px -2193px;
}

.song-row td {
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    line-height: 26px;
    border: none;
    font-size: 12px;
    color: white;
    font-weight: 300;
    border-right: 1px solid #464646;
    cursor: default;
    background-color: #313131 !important;
}

.song-row.selected-song-row td {
    color: white !important;
    background-color: #ff8200 !important;
}

.song-row.selected-song-row td[data-col="rating"] {
    background-color: #007dff !important;
}

.song-row .hover-button[data-id=play] {
    height: 26px !important;
    width: 26px !important;
    background-position: -1377px -1367px;
    display: none;
}

.song-row .hover-button {
    margin-top: 1px;
}

.song-row .explicit {
    margin-top: 8px;
}

.song-row [data-col="rating"] {
    -webkit-filter: invert(100%);
    border-right: none;
}

.song-row:not(.selected-song-row) [data-col="rating"] {
    background-color: #CECECE !important;
}

.song-row:nth-child(odd):not(.selected-song-row) [data-col="rating"] {
    background-color: #C8C8C8 !important;
}

.song-row .rating-container.stars {
    height: auto !important;
}

.song-row .rating-container.thumbs [data-rating] {
    margin-top: 0px;
}

.song-row .hover-button[data-id="menu"], .song-row .hover-button[data-id="menu"]:hover {
    margin: 1px 0 0 0;
    border: none;
    border-radius: 0;
}

.song-row.selected-song-row .hover-button[data-id="menu"] {
    background-color: transparent !important;
    -webkit-filter: brightness(20%) invert(100%);
}

.song-row.currently-playing td[data-col="title"] {
    color: white !important;
}

.music-banner {
    display: none;
}

#nav {
    top: 0;
    background-color: #474747;
    border-right: 1px solid #292929;
    width: auto;
    margin: 0;
}

#nav_collections .nav-item-container, .nav-item-container {
    font-size: 13px !important;
    font-weight: 300 !important;
    color: #ddd !important;
    height: 26px !important;
    line-height: 26px !important;
    cursor: default !important;
}

#nav_collections .nav-item-container.selected, .nav-item-container.selected, .nav-item-container.selected:focus, .nav-item-container.selected:hover {
    background: linear-gradient(0deg, #ff7d00, #ff9d20) !important;
    color: white !important;
    font-weight: 400;
}

.nav-item-container:hover {
    background: none;
}

.nav-section-header {
    padding-left: 10px;
    font-weight: bold;
    color: #888;
    text-shadow: 0px -1px 0px #222;
}

.nav-section-divider {
    display: none;
}

.nav-item-container:hover .playlistDropDown, .nav-item-container:hover .playlistDropDown:hover, .nav-item-container.selected .playlistDropDown, .nav-item-container.selected .playlistDropDown:hover {
    background-color: transparent !important;
    margin-top: 1px !important;
}

.nav-item-container.selected .playlistDropDown, .nav-item-container.selected .playlistDropDown:hover {
    -webkit-filter: brightness(20%) invert(100%);
}

.nav-bar .header-tab-title.selected {
    border: 1px solid #555;
    border-radius: 20px;
    background-image: linear-gradient(0deg, #444, #666);
    box-shadow: inset 0px 1px 1px #888;
    color: #eee;
}

.nav-bar .header-tab-title {
    height: 28px;
    line-height: 29px;
    margin-top: 8px;
    cursor: default;
    color: #aaa;
    font-weight: 500;
}

.nav-bar .header-tab-title:hover {
    background-color: transparent;
}

.nav-bar #breadcrumbs {
    background: none;
}

.nav-bar {
    background-image: linear-gradient(0deg, #232323, #404040);
}

#headerBar {
    border-bottom: 1px solid #444;
}

.fade-out:after {
    background: none !important;
}

#player, .player-middle {
    background: linear-gradient(0deg, #464646, #606060);
    border-top: 1px solid #292929;
}

.player-middle {
    padding: 3px 0 0 0;
    margin: 0;
}

#player .flat-button, #player .flat-button:hover, #player .flat-button:active {
    background-color: transparent !important;
}

#player [data-id="play-pause"], #player [data-id="forward"], #player [data-id="rewind"] {
    -webkit-filter: brightness(20%) invert(90%);
}

#player .flat-button[data-id="repeat"][value="NO_REPEAT"] {
    -webkit-filter: invert(100%);
}

#player .flat-button[data-id="shuffle"][value="NO_SHUFFLE"] {
    -webkit-filter: invert(100%);
}

#player .flat-button[data-id="queue"] {
    -webkit-filter: invert(100%);
}

#player .flat-button.selected[data-id="queue"] {
    -webkit-filter: none;
}

.now-playing-menu-wrapper {
    background: none;
}

#player [data-id="now-playing-menu"] {
    border: none;
}

#player .rating-container.thumbs li.selected:hover, #player .rating-container.thumbs li:hover {
    background-color: transparent;
}

#player .rating-container.thumbs li {
    -webkit-filter: invert(100%);
}

#player .rating-container.thumbs li.selected {
    -webkit-filter: none;
}

#playerSongTitle {
    color: #ddd;
}

#player-artist, .player-album, .player-dash {
    color: #aaa;
}

#player.active:hover .playing-progress-background {
    background: #666 !important;
}

#top_divider_line, .playing-progress-background {
    background: #555 !important;
}

#time_container_duration {
    color: #ccc !important;
    background-color: #555 !important;
}

#volume:hover, #volume.simulated-hover {
    background: none !important;
}

#volume #vslider, #volume #volume_low, #volume #volume_high {
    opacity: 1 !important;
}

#volume .goog-slider-thumb {
    -webkit-filter: invert(100%);
}

#volume_high, #volume_low {
    -webkit-filter: invert(100%);
}

#oneGoogleWrapper > div:first-child > div {
    background: linear-gradient(0deg, #808080, #B2B2B2 50%, #C4C4C4);
    border-bottom: 1px solid #606060;
    height: 59px;
}

.gbqfqw {
    border-radius: 15px;
    border-color: #808080;
    box-shadow: inset 0px 2px 3px #aaa;
    border-right-width: 1px;
}

#gbqfb {
    width: 24px;
    min-width: 24px;
    margin-left: -30px;
    position: absolute;
    height: 24px;
    margin-top: 4px;
    background: none;
}

.gbqfi.gb_g {
    width: 24px;
    height: 24px;
    background-position: -211px -246px;
    -webkit-filter: invert(66%);
}

#gbqfb:active {
    background: none;
    box-shadow: none;
    -webkit-filter: brightness(0%);
}

#gbqfq {
    margin-top: 5px !important;
    padding-left: 2px !important;
    font-size: 14px !important;
}

div.simple-dialog-bg {
    opacity: 0.01 !important;
    background-color: transparent;
}

.simple-dialog {
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: slidedown;
    -webkit-animation-timing-function: ease-out;
    overflow: hidden;
    top: 60px !important;
    border-radius: 0 0 5px 5px;
    border-top-width: 0;
    background-color: rgba(240,240,240,0.98);
}

@-webkit-keyframes slidedown {
   from {
      max-height: 0%; 
   }

   to {
      max-height: 100%;
   }
}

.simple-dialog-title, .simple-dialog-content {
    background-color: transparent;
}

.simple-dialog-title {
    color: #444 !important;
}

.button:not(.primary) {
    background: #ddd !important;
    color: #666 !important;
}

.butter-bar-container {
    top: 0;
}

::-webkit-scrollbar {
    width: 10px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.2) !important;
    border-width: 1px !important;
    border-radius: 6px !important;
}

::-webkit-scrollbar-track {
    background: #222 !important;
    border-width: 0 !important;
}
