/*
 * css/dark-flat.css
 *
 * Custom stylesheet that emulates the appearance of a dark and flat Mac OS X application.
 *
 * Created by Stefan Hoffmann.
 *
 * Subject to terms and conditions in LICENSE.md.
 *
 */

#main {
    background-color: #373737;
    color: #bbb;
}

#loading-progress {
    background: #C4C4C4;
}

#loading-progress-content {
    top: 40%;
}

#loading-progress-message {
    color: #444;
    text-align: center;
}

#loading-progress-bar {
    height: 3px;
}

#current-loading-progress {
    height: 3px;
}

a, .simple-dialog a {
    color: #999;
}

.g-content {
    margin: 0;
}

.g-doc {
    height: -webkit-calc(100% - 60px) !important;
    height: calc(100% - 60px) !important;
}

#headerBar .tab-text, #headerBar .tab-text.has-parent {
    color: #bbb;
}

.card {
    background-color: #555;
}

.card .title {
    color: #ddd;
}

.card .sub-title {
    color: #999;
}

.cluster .header .title, .settings-cluster .header .title, .section-header {
    color: #bbb;
}

.song-table {
    padding: 0;
}

.song-table .header-row th {
    background: #888;
    border-bottom: 1px solid #000;
    height: 26px;
    text-transform: none;
    border-right: 1px solid #464646;
    border-left: 0px solid #555;
}

.song-row:nth-child(odd) td {
    background-color: #373737 !important;
}

.song-row img {
    height: 26px !important;
    width: 26px !important;
    visibility: hidden;
}

.song-row .song-indicator {
    width: 32px !important;
    height: 26px !important;

    -webkit-filter: invert(100%);
    background-color: transparent !important;
}

.song-row .song-indicator[data-playback-status="loading"] {
    background-position: -4px -7px;
}

.song-row td {
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    line-height: 26px;
    border: none;
    font-size: 12px;
    color: white;
    font-weight: 300;
    border-right: 1px solid #464646;
    cursor: default;
    background-color: #313131 !important;
}

.song-row.selected-song-row td {
    color: white !important;
    background-color: #ff8200 !important;
}

.song-row .hover-button[data-id=play] {
    height: 26px !important;
    width: 26px !important;
    background-position: -1377px -1367px;
    display: none;
}

.song-row .hover-button {
    margin-top: 1px;
}

.song-row .explicit {
    margin-top: 8px;
}

.song-row td[data-col="rating"] {
    border-right: none;
}

.song-row .rating-container.stars {
    height: auto !important;
}

.song-row .rating-container.thumbs [data-rating] {
    margin-top: 0px;
}

.song-row .hover-button[data-id="menu"], .song-row .hover-button[data-id="menu"]:hover {
    margin: 1px 0 0 0;
    border: none;
    border-radius: 0;
}

.song-row.currently-playing td[data-col="title"] {
    color: white !important;
}

.song-table [data-col="index"] .content, 
.song-table [data-col="track"] .content {
    color: inherit;
}

.song-row.currently-playing td[data-col="track"] span,
.song-row.currently-playing td[data-col="index"] span {
    visibility: collapse;
}

.song-row.currently-playing td[data-col="track"] span > div,
.song-row.currently-playing td[data-col="index"] span > div {
    visibility: visible;
}

.music-banner {
    display: none;
}

#nav {
    top: 0;
    background-color: #474747;
    border-right: 1px solid #292929;
    width: auto;
    margin: 0;
}

#nav_collections .nav-item-container, .nav-item-container {
    font-size: 13px !important;
    font-weight: 300 !important;
    color: #ddd !important;
    height: 26px !important;
    line-height: 26px !important;
    cursor: default !important;
}

#nav_collections .nav-item-container.selected, .nav-item-container.selected, .nav-item-container.selected:focus, .nav-item-container.selected:hover {
    background: #ff7d00 !important;
    color: white !important;
    font-weight: 400;
}

.nav-item-container:hover {
    background: none;
}

.nav-section-header {
    padding-left: 10px;
    font-weight: bold;
    color: #888;
    text-shadow: 0px -1px 0px #222;
}

.nav-section-divider {
    display: none;
}

.nav-item-container .playlistDropDown, .nav-item-container.selected .playlistDropDown {
    margin-top: 1px !important;
}

.nav-bar .header-tab-title.selected {
    border-bottom: 3px solid #ff7d00 !important;
    background-color: #555;
    color: #eee;
}

.nav-bar .header-tab-title.selected:hover {
    background-color: #555;
}

.nav-bar .header-tab-title {
    height: 42px;
    line-height: 45px;
    color: #aaa;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}

.nav-bar .header-tab-title:hover {
    background-color: #333;
}

.nav-bar #breadcrumbs {
    background: none;
}

.nav-bar {
    background-color: #232323;
}

#headerBar {
    border-bottom: 1px solid #444;
}

.fade-out:after {
    background: none !important;
}

#player, .player-middle {
    background: #464646;
    border-top: 1px solid #292929;
}

.player-middle {
    padding: 3px 0 0 0;
    margin: 0;
}

#player .flat-button, #player .flat-button:hover, #player .flat-button:active {
    background-color: transparent !important;
}

.now-playing-menu-wrapper {
    background: none;
}

#player [data-id="now-playing-menu"] {
    border: none;
}

#player .rating-container.thumbs li.selected:hover, #player .rating-container.thumbs li:hover {
    background-color: transparent;
}

#playerSongTitle {
    color: #ddd;
}

#player-artist, .player-album, .player-dash {
    color: #aaa;
}

#player.active:hover .playing-progress-background {
    background: #666;
}

#top_divider_line, .playing-progress-background {
    background: #555;
}

#time_container_duration {
    color: #ccc;
    background-color: #555;
}

#volume:hover, #volume.simulated-hover {
    background: none !important;
}

#volume #vslider, #volume #volume_low, #volume #volume_high {
    opacity: 1 !important;
}

#oneGoogleWrapper > div:first-child > div {
    background: #C4C4C4;
    border-bottom: 1px solid #606060;
    height: 59px;
}

.gbqfqw {
    border-radius: 15px;
    border-color: #808080;
    -webkit-box-shadow: inset 0px 2px 3px #aaa;
    box-shadow: inset 0px 2px 3px #aaa;
    border-right-width: 1px;
}

#gbqfb {
    width: 24px;
    min-width: 24px;
    margin-left: -36px;
    position: absolute;
    height: 24px;
    margin-top: 1px;
    background: none;
    -wekbit-box-shadow: none !important;
    box-shadow: none !important;
}

.gbqfi {
    width: 24px;
    height: 24px;
    -webkit-filter: invert(66%);
}

#gbqfb:active {
    background: none;
    box-shadow: none;
    -webkit-filter: brightness(0%);
}

#gbqfq {
    margin-top: 5px !important;
    padding-left: 2px !important;
    font-size: 14px !important;
}

div.simple-dialog-bg {
    opacity: 0.01 !important;
    background-color: transparent;
}

.simple-dialog {
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: slidedown;
    -webkit-animation-timing-function: ease-out;
    overflow: hidden;
    top: 60px !important;
    border-radius: 0 0 5px 5px;
    border-top-width: 0;
    background-color: rgba(240,240,240,0.98);
}

@-webkit-keyframes slidedown {
   from {
      max-height: 0%; 
   }

   to {
      max-height: 100%;
   }
}

.simple-dialog-title, .simple-dialog-content {
    background-color: transparent;
}

.simple-dialog-title {
    color: #444 !important;
}

.button:not(.primary) {
    background: #ddd !important;
    color: #666 !important;
}

.butter-bar-container {
    top: 0;
}

#loadingOverlay {
    -webkit-filter: invert(80%);
    opacity: .8 !important;
}

.sort-icon {
    -webkit-filter: brightness(-20%);
}

::-webkit-scrollbar {
    width: 10px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.2) !important;
    border-width: 1px !important;
    border-radius: 6px !important;
}

::-webkit-scrollbar-track {
    background: #222 !important;
    border-width: 0 !important;
}

.song-row [data-col="rating"][data-rating="1"], 
.song-row [data-col="rating"][data-rating="2"],
.song-row [data-col="rating"][data-rating="5"],
.song-row .rating-container.thumbs [data-rating="1"], 
.song-row .rating-container.thumbs [data-rating="5"],
.song-row .rating-container.thumbs [data-rating="1"]:hover,
.song-row .rating-container.thumbs [data-rating="5"]:hover,
.song-row.selected-song-row .hover-button[data-id="menu"],
.nav-item-container .playlistDropDown, .nav-item-container.selected .playlistDropDown,
.nav-item-container.selected .playlistDropDown, .nav-item-container.selected .playlistDropDown:hover,
#player .flat-button[data-id="play-pause"], 
#player .flat-button[data-id="forward"], 
#player .flat-button[data-id="rewind"],
#player .flat-button[data-id="repeat"][value="NO_REPEAT"],
#player .flat-button[data-id="shuffle"][value="NO_SHUFFLE"],
#player .flat-button[data-id="queue"]:not(.selected),
#player .rating-container.thumbs li:not(.selected),
#volume .goog-slider-thumb,
#volume_high, #volume_low {
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important;
}

.song-row.selected-song-row .hover-button[data-id="menu"] {
    background-color: transparent !important;
}

.nav-item-container .playlistDropDown, .nav-item-container.selected .playlistDropDown {
    background-color: transparent !important;
}