/*
 * css/spotify-black.css
 *
 * Custom stylesheet that emulates the appearance of the Spotify black redesign.
 *
 * Created by Anthony Barone.
 *
 * Subject to terms and conditions in LICENSE.md.
 *
 */

#main {
    background-color: #121314;
    color: #bbb;
}

#loading-progress {
    background: #222326;
}

#loading-progress-content {
    top: 40%;
}

#loading-progress-message {
    color: #444;
    text-align: center;
}

#loading-progress-bar {
    height: 3px;
    background-color: black;
    border: 0;
}

#current-loading-progress {
    height: 3px;
}

a, .simple-dialog a {
    color: #999;
}

.g-doc {
    height: -webkit-calc(100% - 60px) !important;
    height: calc(100% - 60px) !important;
}

#headerBar .tab-text, #headerBar .tab-text.has-parent {
    font-weight: 200;
    color: #fafafa;
}

.card-group {
	height: 520px !important;
}

.card {
    background-color: #222326;
}

.card .title {
    color: #ddd;
}

.card .sub-title {
    color: #999;
}

.card .reason {
	border-top-color: transparent;
}

.cluster .header .title, .settings-cluster .header .title, .section-header {
    color: #bbb;
}

.song-table {
    padding: 0;
}

.song-table .header-row th {
    background: transparent;
    border-bottom: 1px solid #222326;
    height: 26px;
    text-transform: none;
    color: #888;
    border-left: 0px solid #555;
}

.song-row img {
    height: 26px !important;
    width: 26px !important;
    visibility: hidden;
}

.song-row .song-indicator {
    /*background-color: #121314 !important;*/
    -webkit-filter: invert(100%);
    background-color: transparent !important;
    width: 35px !important;
}

.song-row.hover .song-indicator,
.song-row.selected-song-row .song-indicator {
	/*background-color: #222326 !important;
    -webkit-filter: none;*/
}

.song-row td {
    border: none;
    color: white;
    font-weight: 300;
    cursor: default;
    background-color: transparent !important;
    border-bottom: 1px solid #222326;
}

.song-table [data-col="duration"], .song-table [data-col="play-count"] {
    color: #707070;
}

.song-row.hover td {
    background-color: #222326 !important;
}

.song-row.selected-song-row td {
    color: white !important;
    background-color: #222326 !important;
}

.song-row .hover-button[data-id=play] {
    height: 26px !important;
    width: 26px !important;
    background-position: -1377px -1367px;
    display: none;
}

.song-row .hover-button {
    margin-top: 1px;
}

.song-row .explicit {
    margin-top: 8px;
}

.song-row td[data-col="rating"] {
    border-right: none;
}

.song-row [data-col="rating"][data-rating="1"], 
.song-row [data-col="rating"][data-rating="2"],
.song-row [data-col="rating"][data-rating="5"] {
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important;
}

.song-row .rating-container.thumbs [data-rating="1"], 
.song-row .rating-container.thumbs [data-rating="5"] {
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important;
}

.song-row .rating-container.thumbs [data-rating="1"]:hover,
.song-row .rating-container.thumbs [data-rating="5"]:hover {
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important;
}

.song-row .rating-container.stars {
    height: auto !important;
}

.song-row .rating-container.thumbs [data-rating] {
    margin-top: 6px;
}

.song-row .hover-button[data-id="menu"], .song-row .hover-button[data-id="menu"]:hover {
    margin-top: 8px;
    border: none;
    border-radius: 0;
}

.song-row.selected-song-row .hover-button[data-id="menu"] {
    background-color: transparent !important;
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important !important;
}

.song-row.currently-playing td {
    color: #ff8200 !important;
}

.music-banner {
    display: none;
}

#nav {
    top: 0;
    background-color: #222326;
    border-right: 1px solid #292929;
    width: auto;
    margin: 0;
}

#nav_collections {
    padding-top: 0;
}

#nav_collections .nav-item-container, .nav-item-container {
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #949599 !important;
    height: 30px !important;
    line-height: 30px !important;
    border-left: 3px solid transparent;
}

#nav_collections .nav-item-container.selected,
.nav-item-container.selected,
.nav-item-container.selected:focus,
.nav-item-container.selected:hover {
    background: #2E2F33 !important;
    color: #F7F9FF !important;
    border-left: 3px solid #FF7D00;
}

#nav_collections .nav-item-container:hover, .nav-item-container:hover {
    background: #2E2F33 !important;
    color: #F7F9FF !important;
}

.nav-section-header {
    padding-left: 10px;
    font-weight: 300;
    color: #777;
    text-shadow: 0px -1px 0px #222;
}

.nav-section-divider {
    display: none;
}

.nav-item-container .playlistDropDown, .nav-item-container.selected .playlistDropDown {
    background-color: transparent !important;
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important !important;
    margin-top: 3px !important;
}

.nav-item-container.selected .playlistDropDown, .nav-item-container.selected .playlistDropDown:hover {
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important;
}

.nav-bar .header-tab-title.selected {
    border-bottom: 3px solid #ff7d00 !important;
    background-color: transparent;
    color: #fff;
}

.nav-bar .header-tab-title.selected:hover {
    color: #fff;
}

.nav-bar .header-tab-title {
    height: 42px;
    line-height: 45px;
    color: #aaa;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease;
}

.nav-bar .header-tab-title:hover {
    color: #fff;
}

.nav-bar .header-tab-spacer {
    display: none;
}

.nav-bar #breadcrumbs {
    background: none;
}

.nav-bar {
    background-color: #121314;
}

#headerBar {
    background-color: #121314;
    border-bottom: 1px solid #222326;
}

.read-more-button-wrapper.fade-out {
    background: #121314;
}

.fade-out:after {
    background: none !important;
}

#player, .player-middle {
    background: #222326;
}

.player-middle {
    padding: 3px 0 0 0;
    margin: 0;
}

#player .flat-button, #player .flat-button:hover, #player .flat-button:active {
    background-color: transparent !important;
}

#player .flat-button[data-id="play-pause"], 
#player .flat-button[data-id="forward"], 
#player .flat-button[data-id="rewind"],
#player .flat-button[data-id="repeat"][value="NO_REPEAT"],
#player .flat-button[data-id="shuffle"][value="NO_SHUFFLE"],
#player .flat-button[data-id="queue"]:not(.selected) {
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important;
}

.now-playing-menu-wrapper {
    background: none;
}

#player [data-id="now-playing-menu"] {
    border: none;
}

#player .rating-container.thumbs li.selected:hover, #player .rating-container.thumbs li:hover {
    background-color: transparent;
}

#player .rating-container.thumbs li:not(.selected) {
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important;
}

#playerSongTitle {
    color: #ddd;
}

#player-artist, .player-album, .player-dash {
    color: #aaa;
}

#player.active:hover .playing-progress-background {
    background: #555;
}

#top_divider_line, .playing-progress-background {
    background: #333;
}

#time_container_duration {
    color: #ccc;
    background-color: #555;
}

#volume:hover, #volume.simulated-hover {
    background: none !important;
}

#volume #vslider, #volume #volume_low, #volume #volume_high {
    opacity: 1 !important;
}

#volume .goog-slider-thumb {
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important;
}

#volume_high, #volume_low {
    background-image: url(https://radiant-player-mac/sprites-inverted.png) !important;
}

#oneGoogleWrapper > div:first-child > div {
    background: #222326;
    border-bottom: 1px solid #333;
    height: 59px;
    color: #949599 !important;
}

.gb_Rb.gb_4b.gb_k {
	display: none;
}

.gbqfqw {
    border-radius: 15px;
    background-color: #DFE0E6;
    border-right-width: 1px;
}

#gbq {
	width: 300px;
}

#gbqfb {
    width: 24px;
    min-width: 24px;
    margin-left: -36px;
    position: absolute;
    height: 24px;
    margin-top: 1px;
    background: none;
    -wekbit-box-shadow: none !important;
    box-shadow: none !important;
}

.gbqfi {
    width: 24px;
    height: 24px;
    -webkit-filter: invert(66%);
}

#gbqfb:active {
    background: none;
    box-shadow: none;
    -webkit-filter: brightness(0%);
}

#gbqfq {
    height: 18px;
    margin-top: 5px !important;
    padding-left: 2px !important;
    font-size: 14px !important;
}

div.simple-dialog-bg {
    opacity: 0.01 !important;
    background-color: transparent;
}

.simple-dialog {
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: slidedown;
    -webkit-animation-timing-function: ease-out;
    overflow: hidden;
    top: 60px !important;
    border-radius: 0 0 5px 5px;
    border-top-width: 0;
    background-color: rgba(240,240,240,0.98);
}

@-webkit-keyframes slidedown {
   from {
      max-height: 0%; 
   }

   to {
      max-height: 100%;
   }
}

.simple-dialog-title, .simple-dialog-content {
    background-color: transparent;
}

.simple-dialog-title {
    color: #444 !important;
}

.button:not(.primary) {
    background: #ddd !important;
    color: #666 !important;
	/*background: transparent !important;
	border-color: #818285 !important;
	border-radius: 25px !important;
	color: #dfe0e6 !important;*/
}

.butter-bar-container {
    top: 0;
}

#loadingOverlay {
    -webkit-filter: invert(80%);
    opacity: .8 !important;
}

.sort-icon {
    -webkit-filter: brightness(-20%);
}

::-webkit-scrollbar {
    width: 10px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.2) !important;
    border-width: 1px !important;
    border-radius: 6px !important;
}

::-webkit-scrollbar-track {
    background: #222 !important;
    border-width: 0 !important;
}

#gm-back {
    background-image: url(https://radiant-player-mac/images/arrow-left-white.png) !important;
}

#gm-forward {
    background-image: url(https://radiant-player-mac/images/arrow-right-white.png) !important;
}

.gm-nav-button {
    opacity: 0.8 !important;
}

.gm-nav-button:hover {
    opacity: 1.0 !important;
}

.gm-nav-button:active {
    opacity: 0.8 !important;
}