<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>Flash Player</string>
	<key>CFBundleGetInfoString</key>
	<string>Adobe Flash Player   12.0 r0 Copyright (c) 1996 Adobe Systems Incorporated. All rights reserved</string>
	<key>CFBundleIdentifier</key>
	<string>com.macromedia.Flash Player.plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Flash Player</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>12.0.0.44</string>
	<key>CFBundleSignature</key>
	<string>MOSS</string>
	<key>CFBundleVersion</key>
	<string>12.0.0.44</string>
	<key>DTCompiler</key>
	<string>4.2</string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>WebPluginDescription</key>
	<string>Shockwave Flash 12.0 r0</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/futuresplash</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>spl</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>FutureSplash Player</string>
		</dict>
		<key>application/x-shockwave-flash</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>swf</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Shockwave Flash</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Shockwave Flash</string>
</dict>
</plist>
