/*
 * css/spotify-black-yosemite.css
 *
 * Additions to the Spotify Black style for the new Yosemite style.
 *
 * Created by Sajid Anwar.
 *
 * Subject to terms and conditions in LICENSE.md.
 *
 */

#oneGoogleWrapper > div:first-child > div:first-child > div:first-child {
    min-width: 0px !important;
}

#oneGoogleWrapper > div:first-child > div:first-child > div:nth-child(2) {
    margin-left: 100px !important;
    margin-right: 30px !important;
    min-width: 0px;
}

#oneGoogleWrapper > div:first-child > div:first-child > div:nth-child(2) > div:first-child {
    position: static;
    padding: 0;
}

.gbqfqw {
    border-radius: 3px;
    border-color: #ccc;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #ddd;
    border-right-width: 1px;
    background: #fcfcfc;
    box-shadow: none;
}

.gbqfqw:hover {
    border-color: #ccc !important;
    border-bottom: 1px solid #bbb !important;
    border-top: 1px solid #ddd !important;
    border-right-width: 1px;
}

.gbqfqw:active, .gbqfqw.gbqfqwf {
    border-color: #4285f4 !important;
}

#gbqfb {
    width: 24px;
    min-width: 24px;
    margin-left: -30px;
    position: absolute;
    height: 24px;
    margin-top: 4px;
    background: none;
}

.gbqfi.gb_g {
    width: 24px;
    height: 24px;
    background-position: -211px -246px;
}

#gbqfb:active {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-filter: brightness(0%);
}

#gbqfq {
    margin-top: 5px !important;
    padding-left: 2px !important;
    font-size: 14px !important;
    cursor: default;
    text-align: center;
}

#gbqfq:focus {
    cursor: text;
    text-align: left;
}

.gm-nav-button {
    opacity: 1 !important;
    background-size: 12px 16px !important;
    background-position: 9px 6px !important;
    background-repeat: no-repeat !important;
}

.gm-nav-button:hover {
    opacity: 1 !important;
}

.gm-nav-button:active {
    opacity: 1 !important;
    background-color: #eee !important;
}

#gm-back {
    background-image: url(http://radiant-player-mac/images/arrow-left-yosemite.png) !important;
}

#gm-forward {
    background-image: url(http://radiant-player-mac/images/arrow-right-yosemite.png) !important;
}
