/*
 * css/none.css
 *
 * Minimum stylesheet for "no" style.
 *
 * Created by Sajid Anwar.
 *
 * Subject to terms and conditions in LICENSE.md.
 *
 */

#nav-container #dropShadow {
    display: none;
}

/* Fill to highlight thumbed up/down track in status bar */
paper-icon-button[aria-label="Undo thumb-up"] iron-icon {
    background: url('https://radiant-player-mac/images/sprites.png') no-repeat -276px -235px;
    background-size: 763px 360px;
}

paper-icon-button[aria-label="Undo thumb-down"] iron-icon {
    background: url('https://radiant-player-mac/images/sprites.png') no-repeat -165px -323px;
    background-size: 763px 360px;
}
