/*
 * css/navigation.css
 *
 * Custom stylesheet that handles the back and forward buttons.
 *
 * Created by Sajid Anwar.
 *
 * Subject to terms and conditions in LICENSE.md.
 *
 */

.gm-nav-button {
    display: inline-block;
    border: none;
    outline: none;
    vertical-align: top;
    opacity: 0.6;

    width: 30px;
    height: 30px;
    background-color: transparent;
    background-size: 30px 30px;
    margin: 15px 8px 0 8px;
}

.gm-nav-button:hover {
    opacity: 0.4;
}

.gm-nav-button:active {
    opacity: 0.6;
}

#gm-back {
    background-image: url(http://radiant-player-mac/images/arrow-left.png);
}

#gm-forward {
    background-image: url(http://radiant-player-mac/images/arrow-right.png);
}