/*
 * css/navigation.css
 *
 * Custom stylesheet that handles the back and forward buttons.
 *
 * Created by Sajid Anwar.
 *
 * Subject to terms and conditions in LICENSE.md.
 *
 */

.gm-nav-button {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    min-width: 24px;

}

#rp-padding-left {
    min-width: 77px;
}

/* When the navigation drawer is open */
core-drawer-panel:not([narrow]) #rp-padding-left {
    min-width: 0px;
}