/*
* css/rdiant.css
*
* Created by Andrew Norell
*
* Subject to terms and conditions in LICENSE.md.
*
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body, button,
input[type=button], input,
textarea, .top-charts-view .song-row [data-col="index"] .column-content,
.material-card .details .left-items .index, .button,
.simple-dialog-buttons button, .download-submit, .goog-menuheader, .now-playing-menu .goog-menuitem .goog-menuitem-content,
.goog-menuitem-content, #loading-progress-message, .screensaver .collage .text.time, .visualizercard .label, .bar-button .text {
    font-family: 'Whitney', 'Open Sans', Helvetica, arial, sans-serif;
}
.cluster .header .title, .cluster .header .subtitle,
.material-detail-view .material-container-details .info .title,
#material-breadcrumbs .tab-text, .material-card .title, .cluster .header .more,
.situations-content.material .situations-filter .situation-title,
.situations-filter .filter-description,
.material-list li .li-content, sj-search-box #input.sj-search-box,
.material .nav-item-container, .material .nav-section-header,
.material .song-table, .material .song-row td, .material .upload-progress-row td, .material-detail-view .material-container-details .info .description,
.material-detail-view .material-container-details .info .container-stats-container .creator-name,
.material-detail-view .material-container-details .info .container-stats-container .container-stats span,
paper-button, .material .recommended-header,
.material-card[data-size="small"][data-type="imfl"] .sub-title,
.column .material-card[data-size="small"][data-type="imfl"] .title,
.material-card[data-is-radio="true"][data-is-listen-now="true"] .details a.title,
.material-card[data-is-listen-now="true"] .reason .reason-text,
.material-card[data-is-listen-now="true"] .details .description,
.material .goog-menu .goog-menuitem .goog-menuitem-content,
.song-table th,
.song-table [data-col="index"] .column-content, .song-table [data-col="track"] .column-content,
.tab-content.paper-tab, paper-tabs,
.material-card[data-is-listen-now="true"][data-size="xlarge"] .title,
.material-card[data-is-listen-now="true"][data-size="xlarge"] .sub-title,
.material-card .sub-title, .material-empty .empty-message, .material-empty .empty-submessage,
.material-detail-view .artist-details .name, .top-tracks .top-tracks-info .top-tracks-header,
.material-detail-view .artist-details .bio-wrapper .bio,
.top-charts-view .song-row [data-col="index"] .column-content, .material-card .details .left-items .index,
#material-player-left-wrapper #playerSongInfo .now-playing-info-wrapper #currently-playing-title,
#material-player-left-wrapper #playerSongInfo #player-artist, #material-player-left-wrapper #playerSongInfo .player-dash, #material-player-left-wrapper #playerSongInfo .player-album,
#time_container_current, #time_container_duration,
#mini-queue-details .playing-from-title, #mini-queue-details .playing-from .album, #mini-queue-details .playing-from
{
    font-weight: 300;
}
body.material {
    background-color:#FFF;
}
#material-app-bar {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
    -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
}

iron-icon[icon="av:explicit"],
music-content .info-card sj-paper-button, #music-content .info-card paper-button,
.top-charts-view .song-row [data-col="index"] .column-content, .material-card .details .left-items .index,
.more-songs-container,
paper-toast [data-action="button"],
paper-toast paper-button[data-action="button"],
.cluster .lane-button core-icon, .cluster .lane-button iron-icon,
.material a.primary,
paper-toggle-button [checked] .toggle-ink,
paper-input-decorator[focused] .floated-label .label-text,
paper-checkbox #ink[checked],
.material-detail-view .material-container-details .read-more-button,
.material .goog-menu .goog-menuitem.selected .goog-menuitem-content,
.material .goog-menu .goog-menuitem.selected .goog-menuitem-content:hover,
paper-input-decorator .floatedLabelText,
paper-action-dialog sj-paper-button, paper-dialog .buttons paper-button,
#signup-full .new-user-quiz h1,
#player.material .material-player-middle paper-icon-button[data-id="play-pause"]:not([disabled]),
#player.material #material-player-right-wrapper paper-icon-button[data-id="queue"].opened,
#player.material .material-player-middle paper-icon-button[data-id="repeat"].active,
#player.material .material-player-middle paper-icon-button[data-id="shuffle"].active,
.material .nav-item-container.selected,
.nav-item-container.selected core-icon, .nav-item-container.selected iron-icon,
.material .song-row [data-col="radio"],
.ups.light core-icon, .ups.light iron-icon,
paper-slider#sliderBar paper-ripple.paper-slider,
.material .song-table .song-row.currently-playing td
{
    color: #018fd5!important;
}

.music-source-list::-webkit-scrollbar-thumb,
sj-paper-button.material-primary, paper-button.material-primary,
button.primary,
paper-button.material-primary[no-focus],
paper-toggle-button [checked] .toggle,
paper-input-decorator #underline .focused-underline,
paper-checkbox #checkbox.checked,
#material-app-bar,
paper-slider #sliderBar #activeProgress,
paper-slider#material-player-progress #sliderContainer.disabled #sliderBar #activeProgress,
#sliderKnobInner.paper-slider,
#primaryProgress.paper-progress,
.material-drag .song-drag-label,
.material-transfer-radial-upload-overlay, .material-transfer-radial-download-overlay, .material-transfer-radial-processing-overlay,
#current-loading-progress {
    background-color: #018fd5!important;
}

paper-checkbox #checkbox.checked,
#loading-overlay.material paper-spinner .circle,
#loading-overlay.material paper-spinner-lite .circle,
paper-action-dialog.get-link .content paper-spinner .circle,
.delete-library-dialog .delete-in-progress paper-spinner .circle, .delete-recommendations-dialog .delete-in-progress paper-spinner .circle,
.nav-section .selected,
#sliderKnobInner.paper-slider
{
    border-color: #018fd5!important;
}

.material-container-details sj-fab, .material-container-details paper-fab {
    background: #018fd5!important;
}

paper-header-panel#content-container.transparent #material-app-bar,
paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button,
paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button {
    background-color: rgba(1, 143, 213, 0.4)!important;
}

/* Fill to highlight thumbed up/down track in status bar */
paper-icon-button[aria-label="Undo thumb-up"] iron-icon {
    /*background: url('https://radiant-player-mac/images/sprites.png') no-repeat -265px -222px;
     background-size: 725px 335px;*/
    display: inline-block;
}

paper-icon-button[aria-label="Undo thumb-down"] iron-icon {
    /*background: url('https://radiant-player-mac/images/sprites.png') no-repeat -165px -333px;
     background-size: 753px 368px;*/
    display: inline-block;
}


/* New drawer / other additions */
[class*="sj-play-button"] #pulse {
    background-color: rgba(1, 143, 213, 0.4)!important;
}

[class*="sj-play-button"] #buttonContent {
    background: #018fd5!important;
}
.primary:not([style-scope]):not(.style-scope) {
    color: #018fd5!important;
}

paper-dialog input::selection,
paper-dialog textarea::selection {
    background-color: rgba(1, 143, 213, 0.25) !important
}

.label-is-highlighted [id*="paper-input-label"],
[class*="paper-input-container"] .add-on-content.is-highlighted.paper-input-container * {
    color: #018fd5!important;
}

.ups,
.focused-line {
    background: #018fd5!important;
}

.ups.light {
    background: transparent!important;
}

.ups paper-button,
.ad-preroll-message-link paper-button,
paper-button.nav-item-container.sub {
    background-color: #0170a7!important;
}

.ups paper-button:focus,
.ad-preroll-message-link paper-button:focus,
paper-button.nav-item-container.sub:focus {
    background-color: #018fd5!important;
    border: 1px solid #0170a7!important
}

.share-buttons .share-button iron-icon {
    z-index: 0 !important;
}
