<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dock.show-art</key>
	<false/>
	<key>lastfm.api-secret</key>
	<string>1142932de0c86a98c00f4dbe90d911de</string>
	<key>lastfm.api-key</key>
	<string>ad07b22035670943a1f958159f7c19da</string>
	<key>lastfm.enabled</key>
	<false/>
	<key>lastfm.percentage</key>
	<string>50</string>
	<key>lastfm.button.enabled</key>
	<false/>
	<key>lastfm.thumbsup.enabled</key>
	<false/>
	<key>miniplayer.enabled</key>
	<true/>
	<key>miniplayer.hide-dock-icon</key>
	<false/>
	<key>miniplayer.large</key>
	<false/>
	<key>miniplayer.show-playing-status</key>
	<false/>
	<key>miniplayer.always-on-top</key>
	<true/>
	<key>navigation.buttons.enabled</key>
	<true/>
	<key>navigation.buttons.keep-links</key>
	<false/>
	<key>navigation.swipe.enabled</key>
	<true/>
	<key>notifications.enabled</key>
	<true/>
	<key>notifications.use-growl</key>
	<false/>
	<key>notifications.itunes-style</key>
	<false/>
	<key>notifications.show-album-art</key>
	<false/>
	<key>styles.name</key>
	<string>Cocoa</string>
	<key>styles.enabled</key>
	<true/>
	<key>eventtap.alternative-method</key>
	<false/>
	<key>cookies.use-safari</key>
	<false/>
	<key>cookies.dont-save</key>
	<false/>
	<key>window.full-screen</key>
	<false/>
</dict>
</plist>
